.footer {
    background-color: var(--white-color);
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 1290px;
    margin: 0 max(32px, calc((100vw - 1290px) / 2));
    padding: 51px 0 40px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.footer_description {
    display: flex;
    gap: clamp(50px, 4.883vw, 126px);
}

.footer_telephone {
    display: flex;
    align-items: center;
    gap: 1.5px;
}

.footer_delivery {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.social_icon {
    display: flex;
    gap: 16px;
}

.social_icon a img {
    display: block;
}

.footer_header {
    font-size: clamp(18px, 2.34vw, 24px);
    line-height: 100%;
}

.telephone_number {
    font-size: clamp(12px, 1.56vw, 16px);
    line-height: 130%;
}

.copyright {
    font-size: 12px;
    line-height: 130%;
}

@media (max-width: 900px) {
    .footer_wrapper {
        padding: 51px 0 40px;
        margin: 0 64px;
    }

    .footer_info {
        flex-direction: column;
        gap: 36px;
    }

    .footer_description {
        gap: 0;
    }

    .footer_delivery {
        flex-basis: 60%;
        gap: 8px;
    }

    .footer_social {
        flex-basis: 40%;
        gap: 8px;
    }
}

@media (max-width: 550px) {
    .footer_wrapper {
        padding: 25px 10px;
        margin: 0;
    }

    .footer_info {
        gap: 24px;
    }

    .footer_description {
        flex-direction: column;
        gap: 24px;
    }

    .footer_delivery {
        flex-basis: 60%;
        gap: 8px;
    }

    .footer_social {
        flex-basis: 40%;
        gap: 8px;
    }
}