.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0 63px;
}

.circle {
    width: 200%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -50%;
    bottom: 0;
    background-color: var(--hover-color);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.hero_description {
    display: flex;
    flex-direction: column;
    gap: 52px;
    color: var(--white-color);
    padding: 46px 0 86px;
}

.hero_h1 {
    font-weight: 800;
    font-size: clamp(36px, -0.375rem + 5.47vw, 50px);
    line-height: 120%;
}

.hero_p {
    font-size: clamp(12px, 1.56vw, 16px);
    line-height: 120%;
}

.color_h1 {
    color: var(--header-color);
}

@media (max-width: 1024px) {
    .hero {
        gap: 5px;
    }
}

@media (max-width: 900px) {
    .hero_description {
        gap: 26px;
        padding: 27px 0 74px;
    }

    .header {
        padding: 24px 0 44px;
    }
}

@media (max-width: 768px) {
    .hero_h1 {
        font-size: clamp(30px, 1.607rem + 1.34vw, 36px);
    }
}

@media (max-width: 550px) {
    .hero {
        flex-direction: column-reverse;
        gap: 19px;
    }

    .hero_description {
        padding: 0;
        gap: 16px;
        text-align: center;
    }

    .header {
        padding: 24px 0 30px;
    }
}